
/* this body styling prevents horizontal scrolling */
body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 20px;
}

/* this paragraph stying forces text to wrap */
p {
    word-break: break-word;
    white-space: normal;
}

